Makefile
Makefile.old
*.o
Pg.bs
Pg.c
*.xsi
blib/
pm_to_blib
README.testdatabase
dbdpg_test_database/
tmp/
core*
MYMETA*
*~
*.tmp
*#
*.orig
*.blame
dbdpg.testing.*
*.log
*.asc
*.patch
dbdpg_test_*
!dbdpg_test_setup.pl
*.tar.gz
cover_db/
tarballs/
*.swp
